.profile {
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 12px 10px 31px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 12px 10px 31px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 12px 10px 31px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  margin-bottom: 1rem;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.new {
  display: inline-block;
  position: absolute;
  right: -12px;
  top: 30px;
  background: aquamarine;
  padding: 2px;
  border-radius: 6px;
}

.avatar {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
}
